.context-enter {
  opacity: 0.01;
}

.context-enter.context-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.context-leave {
  opacity: 1;
}

.context-leave.context-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
